body{

    cursor:pointer;
}

.flex{

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
    background-color: rgb(226, 223, 223);

}

header{

    background-color: aqua;
    padding: 100px;
    align-self: stretch;
}

footer{

    background-color: blue;
    padding: 100px;
    align-self: stretch;
}

.categoria{

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    row-gap: 10px;
    width: 300px;
    height: 300px;
    padding: 10px;
    border:solid 1px;
    background-color: blue;
    transform: perspective(400px);
   

  

}

.cat_cuestionario{

    display:flex;
    align-items: center;
    justify-content: center;
    background-color: bisque;
    transition: transform .2s;
    border: 1px solid black;
    width: 70px;
    height: 50px;
}


.cat_cuestionario:hover{
    display: block;
    background-color: aquamarine;
    cursor: pointer;
}