.categoria{

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    row-gap: 10px;
}

.cat_cuestionario{

    display:flex;
    background-color: bisque;
    transition: zoom .2s;
    border: 1px solid black;
    width: 200px;

    
}

.cat_cuestionario:hover{

    -ms-zoom: scale(1.5);
}