@import url('//fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,900&display=swap');
body{

    background-color: #00b8de;
 
}

.flex{
    width: 50vw;
    position:relative;
    left:25vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 1rem;
    border:  2px solid pink; 
    border-radius: 5%;
    z-index: 1;

}

.cuestionario{

    display: flex;
    flex-flow: column nowrap;
    justify-content:space-between;
    align-items:center;
    row-gap: 40px;
    
}

.answer{
    width: 600px;
    display: flex;
    flex-flow: column nowrap;
    border:  2px solid pink; 
    border-radius: 10%;
    gap: 15px;
    padding: 15px;
    box-shadow: inset 1px 1px 3px rgba(255,255,255,.7), inset 1px 1px 3px rgba(0,0,0,.1), 2px 2px 10px rgba(0,0,0,.1);

    
}



.answer_title{

    align-self: center; 
    font-family:'Arial Narrow';
    font-weight: bolder;
    font-size: x-large;
    

}

.answer_div{
    display: flex;
    flex-flow: row nowrap;
    justify-content: first baseline;
    border:  5px solid pink;
    column-gap: 10px;
    padding-left: 10px;
    box-shadow: inset 3px 3px 3px rgba(255,255,255,.7), inset -2px -2px 3px rgba(0,0,0,.1), 2px 2px 10px rgba(0,0,0,.1);




}

.answer_div:hover{

    background-color:pink;
}


.answer_option{
    align-self: center;
    }

    p{

        align-self: center;
        font-family:'Arial Narrow';
        font-weight: bolder;
        font-size: medium;
    }

.titulo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

    
.time{
   
    width: 600px;
    height: 10px;
    background: red;
    align-self: flex-start;
    margin: 10px 0px 10px 190px;
    background-color: blue;
    
}

.timer_load{
    display: flex;
    justify-content: center;
    align-content: center;
    z-index: 2;
    position: absolute;
    left: 200px;
    right: 200px;
    top: 500px;
    bottom: 500px;
}

.timer{ 
    position: relative; 
    color: #000000;
    margin-top: 2em;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
  }



  

