<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/index_style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/index_script.js"></script>
    <title>Document</title>
</head>
<body>


    <section class="flex">

        <header><h1>Quizz Game</h1></header>
   
        {% block content %}

        {% endblock %}

        <footer><h1>@fercasa</h1></footer> 
    </section> 
</body>
</html>