{% extends "quizz-game/base.html" %}

        {% block css%} <link rel="stylesheet" href="/static/css/cuestionario_style.css"> {% endblock %}
        {% block query %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
        <script type="text/javascript" src="/static/js/cuestionario_script.js"></script>
        {% endblock %}

        {% block content %}

        <section class="timer_load">

            <p class="timer"></p>
    
        </section>

        <h2 class="titulo">CATEGORIA</h2>

        <section class="form">

            <form class="cuestionario" id="{{id}}" action="/cuestionario/{{id}}/resultado" method="post">

                <div class="time_game">
                    <img src="/static/img/gestion-del-tiempo.gif
               " alt="" style="width: 100px; height: 100px;">
                    <div class="time_bar"></div>
                </div>

            {% for pregunta in pregunta %} 

                <div class="answer" id="cuestionario{{loop.index}}">

                    <h1 class="answer_title"> {{pregunta.titulo}} </h1>

                    <hr style="background-color: black; width: 30vw; height: 0.25px">

                {% for respuestas in pregunta.respuestas %}

                    <div class="answer_div" id = "{{loop.index}}" for=""><input class="answer_option" id = {{loop.index}} value="{{loop.index}}" type="radio" name="answer{{pregunta.numero}}" onclick="respuesta('{{pregunta.numero}}', this)"><p>{{respuestas}}</p></div>
        
                {% endfor %}
              
            </div>

            {% endfor %}

            <button class="btn_form" type="submit">enviar</button>

        </form>

        </section>

        {% endblock %}

</body>
</html>