<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/index_style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/index_script.js"></script>
    <title>Document</title>
</head>
<body>

    <section class="flex">
        <header></header>
        <section class="categoria">
            <div class="cat_cuestionario" onclick="select_Categoria(1)"><a href = "{{ url_for('cuestionario', id = 0)}}"><p>Historia Mundial</p></a></div>
            <div class="cat_cuestionario" onclick="select_Categoria(1)"><a href = "{{ url_for('cuestionario', id = 1)}}"><p>Arte</p></a></div>
            <div class="cat_cuestionario" onclick="select_Categoria(1)"><a href = "{{ url_for('cuestionario', id = 2)}}"><p>Geografia</p></a></div>
            <div class="cat_cuestionario" onclick="select_Categoria(1)"><a href = "{{ url_for('cuestionario', id = 3)}}"><p>Fisica y Quimica</p></a></div>
            <div class="cat_cuestionario" onclick="select_Categoria(1)"><a href = "{{ url_for('cuestionario', id = 4)}}"><p>Biologia</p></a></div>
            <div class="cat_cuestionario" onclick="select_Categoria(1)"><a href = "{{ url_for('cuestionario', id = 5)}}"><p>Cine y Series</p></a></div>
        </section> 
        <footer></footer> 
    </section> 
</body>
</html>