
{% extends "quizz-game/base.html" %}

        {% block css%}<link rel="stylesheet" href="/static/css/index_style.css">{% endblock %}
        {% block query %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
        <script type="text/javascript" src="/static/js/cuestionario_script.js"></script>
        {% endblock %}
   
        {% block content %}

        <section class="categoria">
            <a class="cat_cuestionario" href = "{{ url_for('cuestionario', id = 0)}}">Arte</a>
            <a class="cat_cuestionario" href = "{{ url_for('cuestionario', id = 2)}}" >Historia</a>
            <a class="cat_cuestionario" href = "{{ url_for('cuestionario', id = 3)}}" >Quimica</a>
            <a class="cat_cuestionario" href = "{{ url_for('cuestionario', id = 4)}}" >Fisica</a>
            <a class="cat_cuestionario" href = "{{ url_for('cuestionario', id = 5)}}" >Geografia</a>
            <a class="cat_cuestionario" href = "{{ url_for('cuestionario', id = 6)}}" >Literatura</a>
        </section>

        {% endblock %}
