{% extends "quizz-game/base.html" %}


{% block query %}
    <link rel="stylesheet" href="/static/css/resultado_style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script type="text/javascript"  src="/static/js/resultado_script.js"></script>
{% endblock %}

    {% block content %}
    <div id="contenedor">
        <div class="contenedor-loader">
          <div class="rueda"></div>
        </div>
        <p class="load_resultado"></p><p class="valor_resultado">{{resultado}}</p>
    </div>
    {% endblock %}
